body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

/* buttons in edit contact view */
.btn-edit-contact {
    width: 100px;
    margin: 10px;
}

/* edit view */
.edit-field {
    margin: 20px;
}

/* individual contacts */
.contact-item {
    display: inline-block;
    margin: 10px;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    width: 30%;
}
