/* body of the page */
body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

/* input fields should expand to fill their containers. */
input {
    width: 100%;
}

/* buttons in edit contact view */
#btnEdit, #btnSave, #btnCancel {
    width: 20%;
    margin: 10px;
    float: right;
}

/* individual contacts */
.contact-name, .contact-email {
    display: inline-block;
    color: black;
    width: 50%;
}

/* main area in views */
.edit-contact, .contact-list {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
