extends layout

block body
    //changed 'scripts' to 'js' in paths to match new folder name.
    script(src='js/lib/underscore/underscore-min.js')
    script(src='bower_components/angular/angular.js')
    script(src='js/controllers/mainController.js')
    script(src='js/app.js')
    
    div(ng-view)
        