extends layout

block body
    script(src='scripts/lib/underscore/underscore-min.js')
    script(src='bower_components/angular/angular.js')
    script(src='scripts/controllers/mainController.js')
    script(src='scripts/app.js')	
    
    div(ng-view)
        