!!!
html(ng-app="ckApp")
  head
    meta(charset='utf8')
    //base(href='/')
    title #{title}
    link(rel='stylesheet', href='bower_components/bootstrap-sass/bootstrap-2.3.2.min.css')    
    link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/styles/bootstrap.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/styles/main.css')
  body
    block body
