//Add or Edit Contact Navbar
header(class="the_nav")
    div.navbar
        div.navbar-inner
            label.brand Add or Edit Contact
            div.btn-group.pull-right
                a(type="button", id="btnIconDelete", class="btn", href="/", ng-click="delete()"): i.icon-trash
                a(type="button", id="btnIconCancel", class="btn", href="/"): i.icon-remove

//Add or Edit Contact Form
div.edit-contact
    //Labels and input fields.
    label First Name:
    input(id="txtFfirstname", type="text", placeholder="New First Name", ng-model="first")
    label Last Name:
    input(id="txtLlastname", type="text", placeholder="New Last Name", ng-model="last")
    label Email Address:
    input(id="txtEemailaddress", type="text", placeholder="New Email Address", ng-model="email")

    //Edit button to begin editing.
    div(ng-hide="editing")
        button(type="edit", ng-click="editing = true", id="btnEdit", class="btn btn-info") Edit

    //Cancel and Save buttons when editing.
    div(ng-show="editing")
        a(href="/")
            button(type="button", id="btnSave", class="btn btn-success", ng-click="save()") Save
        button(type="cancel", ng-click="editing = false", id="btnCancel", class="btn btn-danger") Cancel