//Contact List Navbar
header
    div.navbar
        div.navbar-inner
            div.container.pull-left
                h3 Contact List
            div.btn-group.pull-right(class="navbar-buttons")
                a(type="button", class="btn btn-inverse", href="/edit"): i.icon-plus

//Contact List
p {{message}}! Contacts will fill up here when you have them.
ul(style="list-style-type: none")
    li(ng-repeat="person in contacts | orderBy:'last'")
        ul
            li(class="contact-item") {{person.last}}, {{person.first}}
            li(class="contact-item") {{person.email}}